nav.nav_bar
    width: 100%

    padding: 8px 80px

    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    grid-area: 'nav'


ul.nav_links
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start

    list-style: none

    li
        margin: 0 16px

        border-bottom: 1px solid $white

        transition: border-bottom .6s, easy-out
        
        a
            font-size: 1.6em
            font-weight: 300
            
            text-decoration: none

            color: $white

        &:hover
            border-bottom: 1px solid $secondary      
            

figure.nav_logo img
    width: 2.4em