@import '../tokens/_reset'

@import '../components/_buttons', '../components/_attribution'

@import '../patterns/_nav-bar', '../patterns/_form', '../patterns/_aside'

body
    width: 100vw
    
    background-color: $primary

    font-family: 'Roboto', sans-serif

    font-size: 10px

    overflow-x: hidden

    user-select: none



