@import '../tokens/_reset'

@import '../patterns/_nav-bar', '../patterns/_form'

body
    background-color: $primary

    font-family: 'Roboto', sans-serif

    font-size: 10px

*
    margin: 0
    padding: 0
    box-sizing: border-box


